1. What are data structures, and why are they important?

Ans: Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

2. Explain the difference between mutable and immutable data types with examples?

Ans: In programming, mutable data types can be modified after creation, while immutable data types cannot be changed once created. Examples of mutable types include lists and dictionaries, while immutable types include strings and tuples.
example: Lists: You can add, remove, or modify elements in a list after it's created.

In [ ]:
#example: Lists: You can add, remove, or modify elements in a list after it's created.
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list by adding an element
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
#Tuples: Once a tuple is created, you cannot change its elements.
my_tuple = (1, 2, 3)
        # my_tuple[0] = 4  # This will raise an error
        # To change the tuple, you need to create a new tuple
        new_tuple = (4, my_tuple[1], my_tuple[2])
        print(new_tuple) # Output: (4, 2, 3)

IndentationError: unexpected indent (<ipython-input-6-0d955e1c8faa>, line 5)

3.What are the main differences between lists and tuples in Python?

Ans:  * List is Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists)
*You can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.


*tuple is Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
* You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

4. Describe how dictionaries store data?

Ans:Elements are not stored in a specific order.

5.Why might you use a set instead of a list in Python?

Ans: Because sets cannot have multiple occurrences of the same element.

6. What is a string in Python, and how is it different from a list?

Ans: Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.
Where as list is Store collections of items,its Mutable and contents Any data type.

7.How do tuples ensure data integrity in Python?

Ans: Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans: A dictionary is a general concept that maps keys to values. There are many ways to implement such a mapping. A hashtable is a specific way to implement a dictionary.

9.Can lists contain different data types in Python?

Ans: Yes, lists contain different data types in python.

10.Explain why strings are immutable in Python?

Ans: Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans: Difference between list and dictionary in Python
  list
  *It can contain duplicate elements.
  *Slicing can be done.
  *It is preferred when the contents are not fixed.

  Dictionary
  *It cannot contain duplicate keys.
  *Slicing cannot be done.
  *It is preferred when working with large amounts of data.

12. Describe a scenario where using a tuple would be preferable over a list?

Ans: Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13.  How do sets handle duplicate values in Python?

Ans: Here are some of the features of sets in Python: Duplicate items are not allowed. If items appear multiple times, only one will be recognized in the set. The items in a set are unordered.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans: The in keyword allows developers to test whether strings, tuples, lists and other sequence-based data types contain a certain value. in keyword can be used to test whether certain characters are present in a string or a certain value present in a list or tuple.

15.Can you modify the elements of a tuple? Explain why or why not?

Ans: No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation, unlike lists which are mutable.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary in Python is a dictionary where the values are themselves dictionaries, allowing for multi-level data structures. A use case is representing hierarchical data like employee records organized by department, with each employee's details stored in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary?

Ans: Accessing elements in a dictionary (or hash map) typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. However, in the worst-case scenario (e.g., many collisions), it can degrade to O(n).

18.In what situations are lists preferred over dictionaries?

Ans:If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python , dictionaries did not preserve insertion order at all.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:In terms of data retrieval, lists use numerical indices for accessing elements, while dictionaries use keys to access associated values, offering significantly faster lookups than lists.

Lists:
*Access: Elements in a list are accessed by their position (index), which is a numerical value starting from 0.
*Retrieval Speed: Searching for a specific element in a list can be slow, especially for large lists, as it requires iterating through the list until the element is found (linear time complexity, O(n)).

Example: my_list = [10, 20, 30, 40] To access the value 30, you would use my_list[2].

Dictionaries:
*Access: Elements in a dictionary are accessed by their unique key, which can be any immutable data type (like strings, numbers, or tuples).
*Retrieval Speed: Dictionaries use a hash table, allowing for very fast lookups (average-case constant time complexity, O(1)).
ss
Example: my_dict = {"name": "Alice", "age": 30} To access the value 30, you would use my_dict["age"].

In [ ]:
#1. Write a code to create a string with your name and print it
name = "sowmya"
print(name)

sowmya

In [ ]:
#2. Write a code to find the length of the string "Hello World"?
string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
String1 = "python programming"
String1[0:4]

'pyth'

In [ ]:
#4.  Write a code to convert the string "hello" to uppercase?
string = "hello"
string.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [ ]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
min(tuple)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [ ]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple","orange","kiwi")
"kiwi" in tuple

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'a', 'c', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict = {"name":"sowmya","age":24,"city":"hubli"}
print(dict)

{'name': 'sowmya', 'age': 24, 'city': 'hubli'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)
dict = {"name":"sowmya","age":24,"city":"hubli"}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'sowmya', 'age': 24, 'city': 'hubli'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print(random_list)

[6, 43, 77, 86, 100]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
list = ["apple","orange","kiwi"]
list[2]

'kiwi'

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris'}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
list = ["apple","orange","kiwi"]
set(list)

{'apple', 'kiwi', 'orange'}